
<hr/>
<h2 align="center"><p style="color: rgb(255, 130, 80);">Welcome to Bookess User Application</p></h2>
<div align="left">
    <h3>User SignIn</h3>
    <form [formGroup]="UserLogRef" (ngSubmit)="userLogin()">
        <div >
    <label>Email: </label>
    <input type="email"  formControlName="useremail" /><br/>
    <div *ngIf="UserLogRef.controls['useremail'].invalid && 
    (UserLogRef.controls['useremail'].dirty || UserLogRef.controls['useremail'].touched)">
        <span [hidden]="!UserLogRef.controls['useremail'].errors?.['required']" style="color:rgb(145, 255, 0)">
                Emali ID is Required 
        </span>
        <span [hidden]="!UserLogRef.controls['useremail'].errors?.['pattern']" style="color:rgb(187, 255, 0)">
           It must be match with pattern (alphabets + numbers + @gmail.com)
        </span>
    </div>
   </div>
   <div>
    <label >Password: </label>
    <input  type="password"  formControlName="password" /><br/>
    <div *ngIf="UserLogRef.controls['password'].invalid && 
    (UserLogRef.controls['password'].dirty || UserLogRef.controls['password'].touched)">
        <span [hidden]="!UserLogRef.controls['password'].errors?.['required']" style="color:rgb(145, 255, 0)">
                Password is required
        </span>
        <span [hidden]="!UserLogRef.controls['password'].errors?.['minlength']" style="color:rgb(187, 255, 0)">
            Atleast Contains 6 characters
        </span>
    </div>
   </div>
   <div >
    <input type="submit"  value="Login"  [disabled]="!UserLogRef.valid" /> &nbsp;
   
    <input type="reset" value="Reset" />
   
   </div>
    </form>

<br/>
<span  > {{LogUser}}</span>
</div>



<div align="right">
   <h3>User SignUp</h3>
   
   <form [formGroup]="UserRegRef" (ngSubmit)="userRegister()">
    <div>
    <label>UserFullName: </label>
    <input type="text" formControlName="userfullname" /><br/>
    <div *ngIf="UserRegRef.controls['userfullname'].invalid && 
(UserRegRef.controls['userfullname'].dirty || UserRegRef.controls['userfullname'].touched)">
    <span [hidden]="!UserRegRef.controls['userfullname'].errors?.['required']" style="color:rgb(145, 255, 0)">
            UserFullName is Required 
    </span>
    <span [hidden]="!UserRegRef.controls['userfullname'].errors?.['minlength']" style="color:rgb(187, 255, 0)">
       It must contains atleast 6 characters
    </span>
</div>
    </div>
    <div >
    <label>Email: </label>
    <input  type="email"  formControlName="useremail" /><br/>
    <div *ngIf="UserRegRef.controls['useremail'].invalid && 
(UserRegRef.controls['useremail'].dirty || UserRegRef.controls['useremail'].touched)">
    <span [hidden]="!UserRegRef.controls['useremail'].errors?.['required']" style="color:rgb(145, 255, 0)">
            Emali ID is Required 
    </span>
    <span [hidden]="!UserRegRef.controls['useremail'].errors?.['pattern']" style="color:rgb(187, 255, 0)">
       It must be match with pattern (alphabets + numbers + @gmail.com)
    </span>
</div>
    </div>
    <div >
    <label>Password: </label>
    <input type="password"  formControlName="password" /><br/>
    <div *ngIf="UserRegRef.controls['password'].invalid && 
(UserRegRef.controls['password'].dirty || UserRegRef.controls['password'].touched)">
    <span [hidden]="!UserRegRef.controls['password'].errors?.['required']" style="color:rgb(145, 255, 0)">
            Password is Required 
    </span>
    <span [hidden]="!UserRegRef.controls['password'].errors?.['minlength']" style="color:rgb(187, 255, 0)">
       It must contains atleast 6 characters
    </span>
    
</div>
    </div>
    <div >
    <label>Contact: </label>
    <input type="tel"  formControlName="contact" /><br/>
    <div *ngIf="UserRegRef.controls['contact'].invalid && 
(UserRegRef.controls['contact'].dirty || UserRegRef.controls['contact'].touched)">
    <span [hidden]="!UserRegRef.controls['contact'].errors?.['required']" style="color:rgb(145, 255, 0)">
            Contact is Required 
    </span>
    <span [hidden]="!UserRegRef.controls['contact'].errors?.['maxlength']" style="color:rgb(187, 255, 0)">
        It must be 10 numbers only
     </span>
    <span [hidden]="!UserRegRef.controls['contact'].errors?.['minlength']" style="color:rgb(187, 255, 0)">
        It must be 10 numbers only
     </span>
</div>
    </div>
    <div >
    <label>Gender: </label>
    <input type="text"  formControlName="gender" /><br/>
    <div *ngIf="UserRegRef.controls['gender'].invalid && 
(UserRegRef.controls['gender'].dirty || UserRegRef.controls['gender'].touched)">
    <span [hidden]="!UserRegRef.controls['gender'].errors?.['required']" style="color:rgb(145, 255, 0)">
            Gender is Required 
    </span>
</div>
    </div>
    <div >
    <label>Address: </label>
    <input type="text"  formControlName="address" /><br/>
    <div *ngIf="UserRegRef.controls['address'].invalid && 
(UserRegRef.controls['address'].dirty || UserRegRef.controls['address'].touched)">
    <span [hidden]="!UserRegRef.controls['address'].errors?.['required']" style="color:rgb(145, 255, 0)">
            Address is Required 
    </span>
</div>
    </div>
    <div >
    <label>City: </label>
    <input type="text"   formControlName="city" /><br/>
    <div *ngIf="UserRegRef.controls['city'].invalid && 
(UserRegRef.controls['city'].dirty || UserRegRef.controls['city'].touched)">
    <span [hidden]="!UserRegRef.controls['city'].errors?.['required']" style="color:rgb(145, 255, 0)">
            City is Required 
    </span>
</div>
    </div>
    <div >
    <label>State: </label>
    <input type="text"  formControlName="state" /><br/>
    <div *ngIf="UserRegRef.controls['state'].invalid && 
(UserRegRef.controls['state'].dirty || UserRegRef.controls['state'].touched)">
    <span [hidden]="!UserRegRef.controls['state'].errors?.['required']" style="color:rgb(145, 255, 0)">
            State is Required 
    </span>
</div>
    </div>
    <div>
    <input type="submit" value="Register" [disabled]="!UserRegRef.valid" /> &nbsp;
    
    
    <input type="reset"   value="Reset" />
    </div>
    </form>

    <br/>
   <span> {{RegUser}} </span>
</div>
    

<h2 align="center">Available Books </h2><hr/><br/>
<div class="card" style="width: 20rem; display:inline-block;margin-left:30px;margin-bottom: 100px;" *ngFor="let book of Books ">
    <div style="display:flex; height:18rem;"> 
                   
<img src={{book.bookimage}}  class="card-img-top" alt="..."  />
    </div>
<div class="card-body">
<h6> Book Name:</h6>
<h4 class="card-title">{{book.bookname}} </h4>
<h6>Author Name:</h6>
<h4 class="card-title">{{book.author}}</h4>
<h6>Book Price:</h6>
<h4 class="card-title">{{book.price | currency:'&#8377;'}}</h4>


</div>
</div>



