<div>
  <h1 align="center"><p style="color: cornflowerblue;">Welcome to Bookess Application</p></h1>
   <hr/><br/>
     <div [hidden]="!inbound" (click)="inbound=!inbound">
     <h3 align="center">For Login as Admin <a routerLink="adminlogin">Clike Here </a></h3>
      <br/>
      <h3 align="center">For Login as User <a routerLink="userlogin">Click Here</a></h3>
     </div>
  <router-outlet></router-outlet>

</div>
